Repository RobinKuiper/Remnant2Tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:install, test:lint

build:install:
  stage: build
  script:
  - pnpm install

test:lint:
  stage: test
  script:
  - pnpm lint:gitlab
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

fix(Search): Close global search on click anywhere else
  src/components/Search.tsx
  src/components/layout/GlobalSearch.tsx
Due: test:lint

style(Images): Added images to worlds
  src/components/database/Redacted.tsx
  src/components/layout/SettingsSidebar.tsx
  src/components/statistics/SecretWorldsPanel.tsx
  src/images/worlds/earth.jpg
  src/images/worlds/labyrinth.jpg
  src/images/worlds/losomn.jpg
  src/images/worlds/nerud.jpg
  src/images/worlds/root_earth.jpg
  src/images/worlds/yaesha.jpg
Due: test:lint

refactor(Builder): Build code mainly in builds feature
  package.json
  pnpm-lock.yaml
  src/components/builder/BuildsSidebarContent.tsx
  src/components/builder/Settings.tsx
  src/components/database/Redacted.tsx
  src/features/data/dataSlice.ts
  src/helpers.ts
  src/pages/builds.tsx
  src/pages/index.tsx
Due: build:install, test:lint

refactor(Images): Static background images
  src/components/BackgroundImage.tsx
  src/pages/builds.tsx
  src/pages/tracker/statistics.tsx
  src/templates/item.tsx
Due: test:lint

style(Tooltips): Fixed tooltip z-index
  src/global.css
Due: none

style(GoogleDrive): Fixed google link button tooltip max time between saves text
  src/components/layout/SettingsSidebar.tsx
Due: test:lint

build(deps): Bump react-tooltip from 5.20.0 to 5.21.1
  package.json
  pnpm-lock.yaml
Due: build:install

build(deps-dev): Bump @testing-library/jest-dom and @types/testing-library__jest-dom
  package.json
  pnpm-lock.yaml
Due: build:install

build(deps-dev): Bump @types/node from 20.4.10 to 20.5.1
  package.json
  pnpm-lock.yaml
Due: build:install

refactor: Fix build errors
  src/helpers.ts
  src/pages/builds.tsx
Due: test:lint

refactor: Prettier
  src/components/BackgroundImage.tsx
  src/pages/tracker/statistics.tsx
Due: test:lint

ci: Changed ignore builds to allow staging/*
  scripts/ignoreBuild.sh
Due: none

ci: Updated ready issue description
  scripts/updateGitlab.py
Due: none

refactor(Styling): Added SASS
  gatsby-config.ts
  package.json
  pnpm-lock.yaml
Due: build:install, test:lint

refacter(scss): Renamed Settings to BuildSettings
  src/components/builder/BuildSettings.tsx
  src/components/layout/TopBar.tsx
  src/pages/builds.tsx
Due: test:lint

refacter(scss): More scss
  src/components/database/CategorySidebarContent.scss
  src/components/database/CategorySidebarContent.tsx
  src/components/database/Item.scss
  src/components/database/Item.tsx
  src/components/database/ItemCategory.scss
  src/components/database/ItemCategory.tsx
  src/components/database/ItemLevel.scss
  src/components/database/ItemLevel.tsx
  src/components/database/ItemLevelNew.tsx
  src/components/database/ItemStatistics.scss
  src/components/database/ItemStatistics.tsx
  src/components/database/ItemTooltip.scss
  src/components/database/ItemTooltip.tsx
  src/components/database/ListItem.scss
  src/components/database/ListItem.tsx
  src/components/database/Redacted.scss
  src/components/database/Redacted.tsx
  src/components/layout/Sidebar.scss
  src/components/layout/Sidebar.tsx
Due: test:lint

refacter(scss): More scss
  gatsby-config.ts
  package.json
  pnpm-lock.yaml
  src/components/builder/TraitsInterface.scss
  src/components/builder/TraitsInterface.tsx
  src/components/database/GridItem.scss
  src/components/database/GridItem.tsx
  src/components/database/ItemCategory.scss
  src/components/database/ItemCategory.tsx
  src/components/database/ItemFields.scss
  src/components/database/ItemFields.tsx
  src/components/database/ItemStatistics.tsx
  src/components/database/ListItem.scss
  src/components/database/ListItem.tsx
  src/components/database/Redacted.scss
  src/components/database/Redacted.tsx
  src/components/layout/Layout.tsx
  src/components/layout/SavingIndicator.tsx
  src/components/layout/TopBar.scss
  src/components/layout/TopBar.tsx
  src/components/statistics/SecretWorldsPanel.tsx
  src/pages/404.scss
  src/pages/404.tsx
  src/pages/builds.scss
  src/pages/builds.tsx
  src/pages/homepage.scss
  src/pages/index.tsx
  src/pages/tracker/statistics.scss
  src/pages/tracker/statistics.tsx
  src/templates/category.scss
  src/templates/category.tsx
  src/templates/item.scss
  src/templates/item.tsx
Due: build:install, test:lint

refacter(scss): Fixed griditem and search
  src/components/Search.scss
  src/components/Search.tsx
  src/components/builder/TraitsInterface.scss
  src/components/builder/TraitsInterface.tsx
  src/components/database/GridItem.tsx
Due: test:lint

refactor(Styling): Fixed design bugs after refactor to scss
  src/components/Loader.tsx
  src/components/database/Redacted.scss
  src/components/database/Redacted.tsx
  src/components/item/ItemStat.scss
  src/components/layout/Breadcrumb.tsx
  src/components/layout/SettingsSidebar.tsx
  src/templates/category.scss
  src/templates/category.tsx
  src/templates/item.tsx
Due: test:lint

refactor(Styling): 100% width build select button
  src/components/builder/BuildsSidebarContent.scss
  src/components/builder/BuildsSidebarContent.tsx
Due: test:lint

feat(SaveAnalyzer): Convert save on the server
  api/data/convert/index.mjs
  src/components/modals/ImportSaveModal.tsx
Due: test:lint

refacter(Styling): Added scss already
  src/components/modals/ImportSaveModal.scss
Due: none

refactor: Prettier
  src/components/modals/ImportSaveModal.tsx
Due: test:lint

refactor(scss): Fix mobile nav
  src/components/layout/TopBar.scss
  src/components/layout/TopBar.tsx
Due: test:lint

refactor(scss): Fix trait points
  src/components/builder/TraitsInterface.scss
  src/components/builder/TraitsInterface.tsx
Due: test:lint

refactor(scss): Fix sidebars
  src/components/layout/PageLayout.scss
  src/components/layout/PageLayout.tsx
  src/components/layout/Sidebar.scss
  src/components/layout/Sidebar.tsx
  src/templates/category.scss
Due: test:lint

refactor(scss): (mobile) layout fixes
  src/components/builder/BuildStatisticsSidebarContent.scss
  src/components/layout/PageLayout.scss
  src/components/layout/PageLayout.tsx
  src/components/layout/Sidebar.scss
  src/components/layout/TopBar.scss
Due: test:lint

chore(deps): Update deps
  package.json
  pnpm-lock.yaml
Due: build:install

feat(SaveAnalyzer): Updated modal
  pnpm-lock.yaml
  src/components/layout/SettingsSidebar.tsx
  src/components/modals/ImportSaveModal.scss
  src/components/modals/ImportSaveModal.tsx
  src/components/modals/ItemSelectModal.scss
Due: build:install, test:lint

chore(Prettier): Prettier & linting
  misc/logo.png
  misc/logo.psd
  misc/logo_without_text.png
  misc/logo_without_text.psd
  misc/logotools.png
  pnpm-lock.yaml
  src/components/builder/BuildsSidebarContent.tsx
  src/components/database/GridItem.tsx
  src/components/layout/PageLayout.tsx
  src/components/layout/Sidebar.tsx
  src/components/modals/ImportSaveModal.tsx
  src/context/AuthContext.tsx
  src/context/BuildContext.tsx
  src/context/DataContext.tsx
  src/context/SettingContext.tsx
  src/features/data/dataSlice.ts
  src/images/logo.webp
  src/images/logoOld.webp
  src/images/logoTest.webp
  src/images/logo_without_text.webp
  src/pages/homepage.scss
  src/pages/index.tsx
  static/logo.webp
Due: build:install, test:lint

Path conditions:
  build:install: any of: pnpm-lock.yaml
  test:lint: any of: **/*.{js,ts,jsx,tsx}
